.items-group {
  padding: 10px;
}

.item-row {
  display: flex;
  border-radius: 8px;
  background-color: #e8e8e8;
  padding: 10px;
  margin-bottom: 2px;
  align-items: center;
}

.item-category,
.item-amount,
.income-item-amount {
  font-weight: bold;
}

.item-category,
.item-label,
.item-date,
.item-notes,
.item-button,
.transaction-item-amount,
.income-item-amount,
.item-delete-button {
  flex-basis: 20%;
  flex-grow: 0;
  text-align: center;
}

.item-delete-button {
  color: red;
  border-style: none;
  font-size: 20px;
  background-color: transparent;
}

.item-notes {
  color: #888888;
}

.income-item-amount {
  color: green;
}

.transaction-item-amount {
  color: red;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-body .form-group {
  margin-bottom: 20px;
}

.modal-footer {
  justify-content: space-between;
}

#profileDropdown {
  color: rgba(255, 255, 255, 0.55);
}

a.dropdown-item a.nav-link {
  color: black;
}

#logout {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: none;
  border: 0;
}

#logout:hover{
  color: white;
}