.transaction-item {
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .transaction-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .transaction-item-category,
  .transaction-item-date,
  .transaction-item-notes {
    flex-basis: 25%;
  }
  
  .transaction-item-amount {
    flex-basis: 15%;
    text-align: right;
    font-weight: bold;
  }
  